.block-container{
    border: 1px solid black;  
    text-align: center;  
    padding: 3vw;
}
.row{
    display: flex;
}
.block{
    width: 8vw;
    height: 8vw;
    margin: 0.5vw;
    user-select: none;

    &:hover{
        cursor: pointer;
        opacity: 0.5;
    }

    .block-container .row &:first-child{
        margin-left: 1vw;
    }
    .block-container .row &:last-child {
        margin-right: 1vw;
    }
}